@import url('nav/index.css');
@import url('header/index.css');
@import url('section_me/index.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
}

h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
}

a{
    font-family: 'Bebas Neue', cursive;
}

button{
    font-family: 'Bebas Neue', cursive;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
}